<div class="container">
  <div class="row">
    <div class="weather-day-container" *ngFor="let forecast of weatherForecast; let i=index"
        [ngClass]="detailView[i] ? classesDetail : classesSimple">
        <app-week-forecast-simple [forecast]="forecast" [dayName]="getDayName(i)" [id]="i" title="Click for details..."
            (click)="detailView[i]=!detailView[i]" *ngIf="!detailView[i]"></app-week-forecast-simple>
        <app-week-forecast-detail [forecast]="forecast" [dayName]="getDayName(i)" [id]="i" title="Click for simple view..."
            (click)="detailView[i]=!detailView[i]" *ngIf="detailView[i]"></app-week-forecast-detail>
    </div>
  </div>
</div>