<div class="container">
  <form class="form-horizontal" #searchForm="ngForm">
    <div class="form-group">
      <div class="col-xs-10">
        <input type="text" placeholder="search" class="form-control" [(ngModel)]="searchQuery" name="searchQuery" (keyup.enter)="search(searchQuery)" />
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-primary" (click)="search(searchQuery)">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
    <ul class="nav nav-pills" *ngIf="searchCoordinates">
        <li [routerLinkActive]="['active']"><a [routerLink]="['/current']" [queryParams]="{lat: searchCoordinates.lat, lon : searchCoordinates.lon}">Current weather</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/week-forecast']"  [queryParams]="{lat: searchCoordinates.lat, lon : searchCoordinates.lon}">Week forecast</a></li>
        <li [routerLinkActive]="['active']"><a [routerLink]="['/favorites']">Favorites</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>
